<section data-ng-controller="DashboardController as vm">

  <h1>{{vm.str.title}}</h1>

  <hr />

  <slider
    data-min="970"
    data-max="1030"
    data-title="{{vm.str.sliderPressure}}"
    data-amount="vm.pressureAmount"
    data-measure="hPa">
  </slider>

  <slider
    data-min="10"
    data-max="35"
    data-title="{{vm.str.sliderTemperature}}"
    data-amount="vm.temperatureAmount"
    data-measure="&deg;C">
  </slider>

  <div
    class="alert alert-danger"
    data-ng-if="vm.error.length"
    role="alert">{{vm.error}}</div>

</section>
