@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-mincer';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.app {

  @import 'bs-equal-height';

  .widget {

    .slider-container {
      margin : 0 auto;
      width: 200px;
    }

    .slider {

      margin : 0 auto;
      min-height: 50px;

      .bar {

        $sliderWidth : 200px;
        $draggerWidth : 12px;

        border-radius: 3px;

        background : grey;

        position : relative;

        width: $sliderWidth;
        height: $draggerWidth / 2;


        .dragger {

          cursor : ew-resize;

          background: slategray;

          width : $draggerWidth;
          height: $draggerWidth;

          border-radius: $draggerWidth;
          border: 1px solid lightgray;


          position: absolute;

          top : 50%;
          left : $sliderWidth / 2;

          margin-top : 0 - ($draggerWidth / 2);
          margin-left : 0 - ($draggerWidth / 2);

        }

        .amount {
          position: absolute;
          width : 30px;

          top : 300%;
          left : $sliderWidth / 2;

          border-radius: 4px;

          background: white;

          margin-left : -15px;
          text-align: center;

        }

      }

    }

  }

}
