@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-mincer';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.app {

  .widget {

    display : inline-block;
    width : 40%;
    height : 30vh;
    margin : 1%;

    .slider {

      $sliderWidth : 200px;
      $draggerWidth : 12px;

      border-radius: 3px;

      background : grey;

      position : relative;

      width: $sliderWidth;
      height: $draggerWidth / 2;


      .dragger {

        cursor : ew-resize;

        background: slategray;

        width : $draggerWidth;
        height: $draggerWidth;

        border-radius: $draggerWidth;
        border: 1px solid lightgray;


        position: absolute;

        top : 50%;
        left : $sliderWidth / 2;

        margin-top : 0 - ($draggerWidth / 2);
        margin-left : 0 - ($draggerWidth / 2);

      }

      .amount {
        position: absolute;
        width : 20px;

        top : 400%;
        left : $sliderWidth / 2;

        border-radius: 4px;

        background: white;

        margin-top : -5px;
        margin-left : -5px;
        text-align: center;

      }

    }

  }

}
